pyflwdir==0.5.8
gwwapi==0.0.2
dask-geopandas==0.3.1
xvec==0.2.0
joblib==1.3.2
planetary-computer==1.0.0
stackstac==0.5.0
stac-validator==3.3.2
odc-geo==0.4.3
dask[dataframe]==2024.9.1
requests
aiohttp
pystac==1.11.0
rio-stac
openeo==0.29.0
odc-stac
fsspec # to read netcdf on S3
h5netcdf # to read netcd on S3
# openeo-processes-dask: install instructions are in the Dockerfile
openeo-pg-parser-networkx==2024.10.1
hydromt @ git+https://github.com/interTwin-eu/hydromt.git@stac#egg=hydromt
hydromt_wflow @ git+https://github.com/interTwin-eu/hydromt_wflow.git@stac#egg=hydromt_wflow
raster2stac @ git+https://gitlab.inf.unibz.it/earth_observation_public/raster-to-stac.git@feature/add_netcdf_collection_2#egg=raster-to-stac
