pyflwdir==0.5.8
gwwapi==0.0.2
dask-geopandas==0.3.1
xvec==0.2.0
joblib==1.3.2
planetary-computer==1.0.0
stackstac==0.5.0
stac-validator==3.3.2
odc-geo==0.4.3
dask[dataframe]
requests
aiohttp
pystac
rio-stac
openeo==0.29.0
odc-stac
fsspec # to read netcdf on S3
h5netcdf # to read netcd on S3
# openeo-processes-dask: install instructions are in the Dockerfile
affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
annotated-types==0.7.0
asciitree==0.3.3
async-timeout==4.0.3
attrs==24.2.0
Bottleneck==1.4.0
cachetools==5.5.0
certifi==2024.8.30
cftime==1.6.4
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
dask==2024.9.1
dask-expr==1.1.15
dask-geopandas==0.3.1
Deprecated==1.2.14
distributed==2024.9.1
fasteners==0.19
frozenlist==1.4.1
fsspec==2024.9.0
geojson-pydantic==1.1.1
geopandas==1.0.1
geoparquet==0.0.3
gwwapi==0.0.2
h5netcdf==1.4.0
h5py==3.12.1
hydromt @ git+https://github.com/interTwin-eu/hydromt.git@c915e6bc35fd056ee3f9ad274f21e7734db39c34
hydromt_wflow @ git+https://github.com/interTwin-eu/hydromt_wflow.git@dec44803239e6c079da592613b739782d7bddd22
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
llvmlite==0.43.0
locket==1.0.0
MarkupSafe==3.0.1
mercantile==1.2.1
msgpack==1.1.0
multidict==6.1.0
netCDF4==1.7.1.post2
networkx==2.8.8
numba==0.60.0
numcodecs==0.13.0
numpy==1.26.4
odc-geo==0.4.3
odc-stac==0.3.9
openeo==0.29.0
openeo-pg-parser-networkx==2024.5.0
openeo-processes-dask @ file:///hydromt/openeo-processes-dask
packaging==24.1
pandas==2.2.3
partd==1.4.2
pendulum==2.1.2
planetary-computer==1.0.0
propcache==0.2.0
psutil==6.0.0
pyarrow==15.0.2
pydantic==2.9.2
pydantic_core==2.23.4
pyflwdir==0.5.8
pyogrio==0.10.0
pyparsing==3.1.4
pyproj==3.7.0
pystac==1.11.0
pystac-client==0.8.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pytzdata==2020.1
PyYAML==6.0.2
rasterio==1.4.1
referencing==0.35.1
requests==2.32.3
rio-stac==0.9.0
rioxarray==0.17.0
rpds-py==0.20.0
scipy==1.14.1
shapely==2.0.6
six==1.16.0
sortedcontainers==2.4.0
stac_validator==3.3.2
stackstac==0.5.0
tblib==3.0.0
toml==0.10.2
tomli==2.0.2
tomli_w==1.1.0
toolz==1.0.0
tornado==6.4.1
traitlets==5.9.0
typing_extensions==4.12.2
tzdata==2024.2
universal_pathlib==0.2.5
urllib3==2.2.3
wrapt==1.16.0
xarray==2024.9.0
xmltodict==0.14.0
xvec==0.2.0
yarl==1.14.0
zarr==2.18.3
zict==3.0.0
zipp==3.20.2
openeo-pg-parser-networkx==2024.5.0
hydromt @ git+https://github.com/interTwin-eu/hydromt.git@stac#egg=hydromt
hydromt_wflow @ git+https://github.com/interTwin-eu/hydromt_wflow.git@stac#egg=hydromt_wflow
raster2stac @ git+https://gitlab.inf.unibz.it/earth_observation_public/raster-to-stac.git@feature/add_netcdf_collection_2#egg=raster-to-stac
